{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}


<div style="background:#4B0082">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6" style="margin-top:50px; ">
	<div  style="background:#DCDCDC; border-radius: 25px ">

	  <div style="margin:30px ">
	    <div style="margin:30px ">
		<h1>Deletado com sucesso</h1>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>


  {% endblock content %}
