{% extends 'base.html' %}

{% block content %}

<style type="text/css">
#form{
    background-color: rgba(76, 78, 78, 0.1);
    border-left: 20px;
    border-radius: 30px;
    border:30px solid transparent;
    margin: 10%;
    margin-top: 1%
}

</style>

<div align="center" id="form">
          <form method="post">
            {% csrf_token %}
                <label>Nome do evento </label><br>
                <input style="border-radius: 5px; width: 30%"  id="nomeEvento" type="text" name="nomeEvento" value=""><br>

                <label>Cidade </label><br>
                <input style="border-radius: 5px; width: 30%"  id="cidade" type="text" name="cidade" value="" ><br>

                <label>Bairro </label><br>
                <input style="border-radius: 5px; width: 30%"  id="bairro" type="text" name="bairro" value=""><br>

                <label>Endereço </label><br>
                <input style="border-radius: 5px; width: 30%"  id="endereco" type="text" name="endereco" value=""><br>

                <label>CEP </label><br>
                <input style="border-radius: 5px; width: 30%"  id="cep" type="text" name="cep" value=""><br>

                <label>Início do evento </label><br>
                <input style="border-radius: 5px; width: 30%"  id="horarioInicio" type="text" name="horarioInicio" value=""><br>

                <label>Fim do evento </label><br>
                <input style="border-radius: 5px; width: 30%"  id="horarioFim" type="text" name="horarioFim" value=""><br>

                <label>Data </label><br>
                <input style="border-radius: 5px; width: 30%"  id="data" type="text" name="data" value=""><br>

                <label>Telefone para contato </label><br>
                <input style="border-radius: 5px; width: 30%"  id="telefone" type="text" name="telefone" value=""><br><br>

                <input style="border-radius: 5px; width: 30%"  class="btn btn-info btn-block" type="submit" value="Cadastrar">
            </form>
</div>
            {% endblock content %}