{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}

<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
	{% for health_service in health_services %}
	<tr>
            <td>{{health_service.id}}</td>
            <td>{{health_service}}</td>
	    <td><a href="{% url 'edit_health_service' health_service.id %}" class="glyphicon glyphicon-pencil">Editar</a></td>
	    <td><a href="{% url 'delete_health_service' health_service.id %}" class="glyphicon glyphicon-trash">Remover</a></td>
	</tr>
	{% endfor %}
    </tbody>
  </table>

    <h1>{{establishment}}</h1>
    
{% endblock content %}
