<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>

 <!-- <body> -->
    <body id="corpo" class="container" data-1="{{ latitude }}" data-2="{{ longitude }}" >
    
  <h3>Mapa do evento</h3>
    <div id="map"></div>
    <script>
    
    
      function initMap() {
        var latitude = document.getElementById("corpo").getAttribute("data-1");
        var longitude = document.getElementById("corpo").getAttribute("data-2");
        latitude = parseFloat(latitude);
        longitude = parseFloat(longitude);
        alert(latitude);
        alert(longitude);
        var uluru = {lat: latitude, lng: longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 50,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDroa8JCUm2JfRZ_7eVMb4Fqx8ufr0Mz_A&callback=initMap">
    </script>
  </body>
</html>