{% extends 'base.html' %}
 
{% load staticfiles %}

{% block header %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}" />
{% endblock %}



{% block content %}
<div class="rela-block container">
  <div class="rela-block profile-card">
    <div class="profile-pic" id="profile_pic"></div>
    <div class="rela-block profile-name-container">

      <div class="rela-block user-name" id="user_name">{{servico.name}}</div>
      <div class="rela-block user-name" id="user_name">{{servico.email}}</div>
      <div class="rela-block user-desc" id="user_description">{{servico.description}}</div>
    </div>
    <div class="rela-block profile-card-stats">
      <div class="floated profile-stat date-ini" id="num_works">{{servico.start_date}}
        <br>
      </div>
      <div class="floated profile-stat date-end" id="num_followers">{{servico.close_date}}
        <br>
      </div>
      <div class="floated profile-stat category" id="num_following">{{servico.category}}
        <br>
      </div>
    </div>
  </div>
  <div class="rela-block content">
  </div>

  {% endblock content %}