{% extends 'base.html' %}
 
{% load staticfiles %}

{% block header %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}" />
{% endblock %}



{% block content %}
<div class="rela-block container">
  <div class="rela-block profile-card">
    <div class="profile-pic" id="profile_pic"></div>
    <div class="rela-block profile-name-container">

      <div class="rela-block user-name" id="user_name">{{servico.name}}</div>
      <div class="rela-block user-name" id="user_name">{{servico.email}}(<a href="{% url 'fale-conosco' servico.id %}">fale conosco</a>)</div>
      <div class="rela-block user-desc" id="user_description">{{servico.description}}</div>
    </div>
    <div class="rela-block profile-card-stats">
      <div class="floated profile-stat date-ini" id="num_works">{{servico.start_date}}
        <br>
      </div>
      <div class="floated profile-stat date-end" id="num_followers">{{servico.close_date}}
        <br>
      </div>
      <div class="floated profile-stat category" id="num_following">{{servico.category}}
        <br>
      </div>
    </div>
  </div>
  <div class="rela-block content">



    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small"
        data-show-faces="true" data-share="true"></div>

      <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
    </div>
    <div class="col">
    </div>
  </div>

  {% endblock content %}