{% extends 'base.html' %}

{% block content%}

<style>
    #btn{
        background:  rgba(76, 78, 78, 0.1);
    }


</style>

{% for i in div %}
<div id="btn" align="center">
        {% csrf_token %}
<a id="nomeEvento">Nome do evento: {{ i.nomeEvento }}</a><br>
Cidade: {{  i.cidade  }}<br>
Categoria: {{  i.categoria  }}<br>
Endereço: {{  i.endereco  }}<br>
Início: {{  i.horarioInicio  }}<br>
Fim: {{  i.horarioFim }}<br>
Data: {{  i.data  }}<br>

<div id="btn-mapa">
<a href="mapa" class="btn btn-info btn-block" style="height: 10%;width: 20%" >Mapa</a><br>
</div>
<div style="background: azure">
    <br>
</div>

</div>

{% endfor %}

{% endblock content %}