{% extends 'base.html' %}

{% block content %}
<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">
          <h1>Cadastrar</h1>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <br>
            <strong><div class="">{{ field.label }}</div></strong>
            <div class="">{{ field }}</div>
            {% endfor %}
            <br>
            <button type="submit">Cadastrar</button>
          </form>    
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}