{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Community Services</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="{% static "css/coming-soon.min.css" %}" rel="stylesheet"> -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

    {% block header %}
    {% endblock %}

  </head>

  <body>
    <!-- Barra de navegação -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">Community Service</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}

            <!-- Items -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Meus itens</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url 'list_health_service' %}">Serviços</a>
                <a class="dropdown-item" href="{% url 'list_donation' %}">Doações</a>
                <a class="dropdown-item" href="{% url 'list_establishment' %}">Estabelecimentos</a>
                <a class="dropdown-item" href="{% url 'list_voluntary' %}">Serviços voluntários</a>
              </div>
            </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Entrar</a>
              </li>
              <li class="nav-item">

              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Cadastrar</a>
              </li>
          {% endif %}
        </ul>

        <ul class="navbar-nav mr-right">
          {% if user.is_authenticated %}
            <!-- Perfil -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>{{ user.username }}</strong></a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url 'index' %}">Editar</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
              </div>
            </li>
          {% endif %}
        <ul>
        <!-- Busca -->
        <form class="form-inline my-2 my-lg-0" method='GET' action='/list_search'>
          <div class="input-group input-group-newsletter">
            <input type="text" name="q" class="form-control" placeholder="Qual serviço procura?" value="{{ request.GET.q }}" aria-label="busca" aria-describedby="basic-addon">
            <div class="input-group-append">
              <input type="submit" value="Buscar" class="btn btn-secondary" href="{% url 'list_donation' %}" type="button"/n>
             </div>
          </div>
        </form>

      </div>
    </nav> <!-- Fim da barra de navegação -->

    <main role="main">
      <div class="jumbotron jumbotron-fluid" style="background: url("")">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>
    {% block jumbo %}
    {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "vendor/vide/jquery.vide.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/coming-soon.min.js" %}"></script>

  </body>

</html>
