{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}

<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Inicio</th>
        <th>Fim</th>
        <th>Categoria</th>
        <th>Estabelecimento</th>
        <th>Fale Conosco</th>

      </tr>
    </thead>
    <tbody>
	{% for service in services_list %}
	<tr>
            <td>{{service.id}}</td>
            <td>{{service.name}}</td>
            <td>{{service.start_date}}</td>
            <td>{{service.close_date}}</td>
            <td>{{service.category}}</td>
            <td>{{service.establishment}}</td>
            <td><a href="{% url 'fale-conosco' service.id %}">{{service.email}}</a></td>
            
	</tr>
	{% endfor %}
    </tbody>
  </table>

    <h1>{{service}}</h1>
    
{% endblock content %}